@import url(http://fonts.googleapis.com/css?family=Squada+One);

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

body {
    margin: auto;
}

body > * {
    margin: auto;
    width: 960px;
}

#start section {
    width: 400px;
}

#start input {
    padding: 6px;
    width: 200px;
}

#day section {
}

#day .noble-color {
    float: left;
    height: 15px;
    margin: 0 8px 0 0;
    width: 15px;
}

#day #players {
    margin: 20px 0 60px;
}

#day #players ul li {
    border: 1px solid slategray;
    border-width: 1px 0;
    display: inline-block;
    margin-right: 4px;
    width: 155px;
}

#day #players ul li div {
    line-height: 26px;
}

#day #players .points {
    background-color: slategray;
    color: white;
    float: left;
    font-weight: bold;
    margin-right: 6px;
    padding-right: 1px;
    text-align: center;
    width: 26px;
}

#day #players .active {
    background: url(../images/icons/c.png)
                right center
                no-repeat;
}

#day #queue {
    display: inline-block;
    width: 300px;
}

#day #queue #guillotine {
    background: url("../images/icons/g.png")
                no-repeat
                center center;
    border: 1px outset brown;
    height: 40px;
    margin-bottom: 20px;
    width: 200px;
}

#day #queue li {
    border: 1px solid lightgray;
    border-radius: 3px;
    line-height: 30px;
    margin: 2px 0;
    padding: 0 6px;
    width: 200px;
}

#day #queue li > div {
    font-size: 12px;
}

#day #queue li .noble-color {
    margin-top: 8px;
}

#day #queue .rtl li:first-of-type > div,
#day #queue .ltr li:last-of-type > div {
    font-weight: bold;
}

#day #active-player {
    display: inline-block;
    vertical-align: top;
}

#day #active-player h2 {
    border-bottom: 1px solid slategray;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

#day #active-player fieldset {
    margin: 0;
    padding: 0 0 10px 20px;
    width: 470px;
}

#day #active-player fieldset legend {
    border: 0px double slategray;
    border-width: 1px 1px 2px 5px;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    margin: 10px 0;
    padding: 2px 10px;
}

#day #active-player ul li h4 {
    font-size: 15px;
    font-style: italic;
}

#day #active-player ul li div {
    font-size: 11px;
    margin-bottom: 8px;
}

#day #active-player #action-cards .locked li > * {
    color: darkgray;
}

#day #active-player #noble-cards div {
    margin-bottom: 0;
}

