* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Tahoma';
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

body {
    margin: auto;
    text-align: center;
    width: 960px;
}

input, button {
    padding: 6px;
    text-align: center;
    width: 200px;
}