<link rel="stylesheet" href="/styles/player.css">
<link rel="stylesheet" href="/styles/day.css">

<header class="header row">
    <div class="day col-xs-1 well well-sm">
        <h1 ng-if="playVm.game.day">Tag {{playVm.game.day}}</h1>
        <button class="btn btn-primary btn-lg" ng-if="!playVm.game.day" ng-click="playVm.start()">start</button>
    </div>

    <div class="info-bar col-xs-11">
        <div class="well well-sm text-right">
            <ul class="list-inline player-list" ng-if="playVm.game.playerList">
                <li class="player" ng-repeat="player in playVm.game.playerList">
                    <div class="compact panel panel-default"
                         ng-class="{'active': playVm.game.activePlayerId === player.id, 'me': playVm.me.id === player.id}"
                         ng-click="playVm.showPlayerDetails(player.id)">
                        <div class="panel-body">
                            {{player.name}} ({{player.id}})
                        </div>
                    </div>

                    <div class="detail">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Adelskarten: <span class="badge">{{player.nobleCards.length}}</span>
                                </li>
                                <li class="list-group-item">
                                    Aktionskarten: <span class="badge">{{player.actionCards.length}}</span>
                                </li>
                                <li class="list-group-item">
                                    aktive Aktionskarten: <span class="badge">{{player.activeActionCards.length}}</span>
                                </li>
                                <li class="list-group-item">
                                    Punkte: <span class="badge">{{player.points}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="alert alert-{{playVm.message.type}}" ng-if="playVm.message">
            {{playVm.message.text}}
        </div>
    </div>

</header>

<div class="container">
    <div class="row">
        <div class="alert alert-info" ng-if="playVm.playedActionCard">{{ playVm.playedActionCard.description }}</div>
    </div>

    <div class="row queue">
        <div class="col-xs-12">
            <div class="guillotine" ng-click="playVm.behead()"></div>

            <ul dnd-list="playVm.game.queue"
                dnd-horizontal-list="true"
                class="list-inline"
                ng-if="playVm.game.queue">
                <li ng-repeat="card in playVm.game.queue" ng-click="playVm.queueClicked(card)">
                    <div class="panel panel-default card"
                         ng-class="card.color"
                         ng-class="{'selected': models.selected === card}"
                         dnd-draggable="card"
                         dnd-effect-allowed="move"
                         dnd-moved="playVm.game.queue.splice($index, 1)"
                         dnd-selected="models.selected = card">
                        <div class="panel-heading">{{card.name}}</div>
                        <div class="panel-body">
                            <h3>{{card.computedPoints || card.points}}</h3>
                        </div>
                        <div class="panel-footer" title="{{ card.actionText }}">
                            <i class="glyphicon glyphicon-exclamation-sign"
                               ng-if="card.action"></i>
                            &nbsp;
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row detail" ng-if="playVm.detailPlayer">
        <i class="glyphicon glyphicon-remove" ng-click="playVm.closePlayerDetails()"></i>

        <div class="col-xs-12" ng-if="playVm.game.day === 0">
            <h2 class="jumbotron">
                Sobald das Spiel gestartet ist, werden hier die Aktions-und Adelskarten angezeigt.
            </h2>
        </div>

        <div class="action-cards col-xs-6"
             ng-if="playVm.me.id === playVm.detailPlayer.id && playVm.detailPlayer.actionCards.length">
            <h2 class="heading">Hand-Aktionskarten</h2>

            <div class="list-group">
                <a href="#" class="list-group-item"
                   ng-repeat="card in playVm.detailPlayer.actionCards"
                   ng-click="playVm.ownActionCardClicked(card)"
                   ng-class="{ 'disabled': !playVm.isActionCardPlayable(card) }">
                    <i class="glyphicon glyphicon-trash"
                       ng-if="playVm.interactionCardInUse.action === 'removeOwnHandActionCard'"></i>
                    <h3 class="list-group-item-heading">{{card.name}}</h3>
                    <p>{{card.description}}</p>
                    <p ng-if="card.computedPoints || card.points">Punkte: {{card.computedPoints || card.points}}</p>
                </a>
            </div>
        </div>

        <div class="played-action-cards col-xs-6" ng-if="playVm.detailPlayer.activeActionCards.length">
            <h2 class="heading">Aktionskarten-Effekte</h2>

            <div class="list-group">
                <div class="list-group-item"
                     ng-repeat="card in playVm.detailPlayer.activeActionCards">
                    <i class="glyphicon glyphicon-trash"
                       ng-click="playVm.removeActiveActionCard(card)"
                       ng-if="card.removable"></i>
                    <h3 class="list-group-item-heading">{{card.name}}</h3>
                    <p>{{card.description}}</p>
                    <p ng-if="card.computedPoints || card.points">Punkte: {{card.computedPoints || card.points}}</p>
                </div>
            </div>
        </div>

        <div class="action-cards col-xs-6" ng-if="playVm.me.id === playVm.detailPlayer.id && playVm.detailPlayer.nobleCards.length">
            <h2 class="heading">Adelskarten</h2>

            <div class="list-group">
                <div class="list-group-item card" ng-class="card.color" ng-repeat="card in playVm.detailPlayer.nobleCards">
                    <h3 class="list-group-item-heading">{{card.name}}</h3>
                    <p>Punkte: {{card.computedPoints || card.points}}</p>
                </div>
            </div>
        </div>
    </div>

    <pre>
        {{playVm.game | json}}
    </pre>

    <pre>
        {{playVm.me | json}}
    </pre>
</div>
