<link rel="stylesheet" href="/styles/player.css">
<link rel="stylesheet" href="/styles/day.css">

<header class="header row">
    <div class="day col-xs-1 well well-sm">
        <h1>Tag {{playVm.game.day}}</h1>
    </div>

    <div class="info-bar col-xs-11 text-right">
        <div class="well well-sm">
            <ul class="list-inline player-list" ng-if="playVm.game.playerList">
                <li class="player" ng-repeat="player in playVm.game.playerList">
                    <div class="compact panel panel-default"
                         ng-class="{'active': playVm.game.activePlayerId === player.id, 'me': playVm.me.id === player.id}"
                         ng-click="playVm.showPlayerDetails(player.id)">
                        <div class="panel-body">
                            {{player.name}} ({{player.id}})
                        </div>
                    </div>

                    <div class="detail">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Adelskarten: <span class="badge">{{player.nobleCards.length}}</span>
                                </li>
                                <li class="list-group-item">
                                    Aktionskarten: <span class="badge">{{player.actionCards.length}}</span>
                                </li>
                                <li class="list-group-item">
                                    aktive Aktionskarten: <span class="badge">{{player.activeActionCards.length}}</span>
                                </li>
                                <li class="list-group-item">
                                    Punkte: <span class="badge">{{player.points}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container">
    <button class="btn btn-primary" ng-if="!playVm.game.queue.length" ng-click="playVm.start()">start</button>

    <div class="row queue" ng-if="!playVm.detailPlayer">
        <ul class="col-xs-12 list-inline" ng-if="playVm.game.queue" ng-click="playVm.behead()">
            <li ng-repeat="card in playVm.game.queue">
                <div class="panel panel-default card" ng-class="card.color">
                    <div class="panel-heading">{{card.name}} ({{card.id}})</div>
                    <div class="panel-body">
                        <h3>{{card.points}}</h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row detail" ng-if="playVm.detailPlayer">
        <i class="glyphicon glyphicon-remove" ng-click="playVm.closePlayerDetails()"></i>

        <div class="col-xs-12" ng-if="playVm.game.day === 0">
            <h2 class="jumbotron">
                Sobald das Spiel gestartet ist, werden hier die Aktions-und Adelskarten angezeigt.
            </h2>
        </div>

        <div class="played-action-cards col-xs-6" ng-if="playVm.detailPlayer.playedActionCards.length">
            <h2 class="heading">ausgespielte Aktionskarten</h2>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="card in playVm.detailPlayer.playedActionCards">
                    <h3 class="list-group-item-heading">{{card.name}} ({{card.id}})</h3>
                    <p>{{card.description}}</p>
                </div>
            </div>
        </div>

        <div class="action-cards col-xs-6" ng-if="playVm.me.id === playVm.detailPlayer.id && playVm.detailPlayer.actionCards.length">
            <h2 class="heading">Hand-Aktionskarten</h2>

            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="card in playVm.detailPlayer.actionCards">
                    <h3 class="list-group-item-heading">{{card.name}} ({{card.id}})</h3>
                    <p>{{card.description}}</p>
                </a>
            </div>
        </div>

        <div class="action-cards col-xs-6" ng-if="playVm.me.id === playVm.detailPlayer.id && playVm.detailPlayer.nobleCards.length">
            <h2 class="heading">Adelskarten</h2>

            <div class="list-group">
                <div class="list-group-item card" ng-class="card.color" ng-repeat="card in playVm.detailPlayer.nobleCards">
                    <h3 class="list-group-item-heading">{{card.name}} ({{card.id}})</h3>
                    <p>Punkte: {{card.points}}</p>
                </div>
            </div>
        </div>
    </div>

    <pre>
        {{playVm.game | json}}
    </pre>

    <pre>
        {{playVm.me | json}}
    </pre>
</div>
