header {
    height: 80px;
    margin: 10px;
}

header > *,
header .list-inline {
    height: 100%;
}

header h1 {
    margin: 10px 0;
}

header .panel {
    margin: 0;
}

header .active {
    background-color: orange;
    color: white;
}

header .me {
    font-weight: bold;
}

.queue li {
    margin-right: -60px;
}

.queue li .panel {
    height: 180px;
    width: 120px;
}

.queue li .panel:hover {
    box-shadow: 0px 0px 4px;
    position: relative;
    z-index: 100;
}

.queue li .panel-heading {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: table-cell;
    height: 62px;
    vertical-align: middle;
    width: 120px;
}

.queue .blue {
    border-color: skyblue;
}

.queue .blue .panel-heading {
    background-color: lightskyblue;
}

.queue .violet {
    border-color: violet;
}

.queue .violet .panel-heading {
    background-color: lightpink;
}

.queue .green {
    border-color: lightgreen;
}

.queue .green .panel-heading {
    background-color: greenyellow;
}

.queue .red {
    border-color: lightcoral;
}

.queue .red .panel-heading {
    background-color: lightsalmon;
}

.queue .black {
    border-color: slategray;
}
