.header {
    height: 80px;
    margin: 10px -15px;
}

.header h1 {
    margin: 10px 0;
}

.header .player-list {
    margin: 4px 0;
}

.header .player {
    position: relative;
}

.header .player .detail {
    display: none;
    position: absolute;
    right: 5px;
    text-align: left;
    top: 50px;
    width: 220px;
    z-index: 10;
}

.header .player:hover .detail {
    display: block;
}

.header .player:hover:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid lightgray;
    bottom: -9px;
    content: "";
    height: 0;
    position: absolute;
    right: 40%;
    width: 0;
}

.header .player .detail .panel {
    margin-top: 10px;
}

.header .panel {
    margin: 0;
}

.header .active {
    background-color: orange;
    color: white;
}

.header .me {
    font-weight: bold;
}

.guillotine {
    background-image: url("/images/guilotine.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

.queue {
    margin-left: 0;
}

.queue li {
    margin-right: -50px;
    padding: 0;
}

.queue li .panel {
    height: 180px;
    width: 120px;
}

.queue li .panel:hover {
    box-shadow: 0px 0px 4px;
    position: relative;
    z-index: 100;
}

.queue li .panel-heading {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    display: table-cell;
    font-size: 0.9em;
    height: 62px;
    hyphens: auto;
    max-width: 120px;
    overflow: hidden;
    vertical-align: middle;
    width: 120px;
}

.card.blue {
    border-color: skyblue;
}

.card.blue.list-group-item,
.card.blue .panel-heading {
    background-color: lightskyblue;
}

.card.violet {
    border-color: violet;
}

.card.violet.list-group-item,
.card.violet .panel-heading {
    background-color: lightpink;
}

.card.green {
    border-color: lightgreen;
}

.card.green.list-group-item,
.card.green .panel-heading {
    background-color: greenyellow;
}

.card.red {
    border-color: lightcoral;
}

.card.red.list-group-item,
.card.red .panel-heading {
    background-color: lightsalmon;
}

.card.black {
    border-color: black;
}

.card.black.list-group-item,
.card.black.list-group-item h3,
.card.black .panel-heading {
    background-color: black;
    color: white;
}

.container .detail {
    border: 5px dashed gray;
    border-radius: 10px;
    position: relative;
}

.container .detail .glyphicon-remove {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 25px;
    padding: 3px;
    position: absolute;
    right: -15px;
    top: -10px;
    z-index: 1;
}

.container .detail .glyphicon-trash {
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 6px;
    top: 8px;
}